<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.food.r.cuc.h">
    xmlns:tools="http://schemas.android.com/tools"
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OTP"
            android:icon="@drawable/logo"
            android:label="My new title" />
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/logo"
            android:label="Foodr The food Sharing App">

        </activity>
        <activity android:name=".SignUpNGOActivity">

        </activity>
        <activity android:name=".map">

        </activity>
        <activity android:name=".users"></activity>
        <service android:name=".FoodrNotiService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"></action>
            </intent-filter>
        </service>
    </application>

</manifest>